@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$color: #1094d2;

body {
	font-family: Roboto, sans-serif;
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-size: 24px;
}

.card {
	width: 400px;
	cursor: pointer;
}

.card_content {
	text-align: center;
	position: relative;
	padding: 200px;
	transform-style: preserve-3d;
	transition: 2s;
}

.card:hover .card_content {
	transform: rotateY(-0.5turn);
}

.front,
.back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.front {
	background-color: #f6f6f6;
	border: 1px solid rgb(185, 185, 185);
	border-radius: 8px;
}

.card_title {
	transform: translateZ(200px);
}

.card_body {
	transform: rotateY(0.5turn) translateZ(100px);
}

.codes {
	font-weight: bold;
}

.awesomity_name {
	color: #c1cf16;
	font-weight: bold;
}

.reload {
	border: none;
	outline: none;
	background-color: $color;
	padding: 6px 16px;
	border-radius: 6px;
	color: whitesmoke;
	cursor: pointer;
}

.range {
	cursor: pointer;
}
